/*estos 3 elementos son super importantes ya que formatean
las caracteristicas del navegador*/

:root{
    --primary-color: teal;
    --secundary-color: tomato;
    --font-base: 2rem;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}



/*ESTILOS DE LAS PSEUDOCLASES.
.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: #13a4a4;
}

.main-nav__item{
    display:inline-block;
}

.main-nav__item a{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
 cuando usamos :clase es una seudo claso
 :hover es un estado del elemento
.main-nav__item a:hover{
    color: yellowgreen;
}

.main-nav__item a:active{color: tomato;}

 :: y esta es una seudo clase

.main-nav__item a::after{
    content: "|";
}
*/

/* ESTA PARTE DE ESTILO PERTENECE A LA CLASE MODELO DE CAJA
   EN LA CUAL CONTEMPLAMOS LA PROPIEDAD BOX SIZING

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}
*/

/* ESTA PARTE MUESTRA COMO HACER QUE SE HEREDE EL ESTILO DE UN
   HIJO A UN PADRE CON INHERTI
html{
    font-family: Helvetica;
    font-size: 75%;
}

h1{
    font-size: inherit;
}
*/

/* ESTA PARTE ES DE ESPECIFICIDAD EN SELECTORES CLASS 27-29
h1 {
    font-family:Arial, Helvetica, sans-serif;
}

.nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
}

.nav li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color:maroon;
    background-color: rgb(224, 221, 39);
    border-radius: 4px;
    padding: 8px;
    
} */

/* ESTA PARTE ES DE ADJACENT SIBLINGS - HERMANOS CERCANOS
h2 + p {
    color: red;
} */

/* ESTA PARTE ES DE GENERAL SIBLINGS - HERMANOS GENERALES
h2 ~ p{
    color: red;
} */

/* ESTA PARTE ES DE CHILD - HIJO DIRECTO
div > p {
    color: red;
} */

/* ESTA PARTE ES DE DESCENDIENTES EL MAS USADO
div  p {
    color: red;
} 
*/

/* EM UNITS
.text-container{
    font-size: 1.5em;
}

.text-container div{
    font-size: 1.5em;
}
*/

/* ESTA PARTE ES DE REM UNITS
p{
    font-size: 1rem;
} */


/*ESTA PARTE ES DE VH-VW  MIN-MAX W-H
main{
    width: 100vw;
    height: 100vh;
    background-color:gainsboro;
}

section{
    font-size: 1.6rem;
    width: 80%;
    min-width: 320px;  /*con este limitamos su encogimiento
    max-width: 500px; /*con este limitamos su estiramiento
    min-height: 300px;
    background-color:white;
    margin: 0 auto;

}
*/

/* POSITION - absolut,relative,fixed,static,sticky

.contenedor{
    display: inline-block;

}

.caja-sup{
background-color: greenyellow;
border-radius: 2rem;
display: inline-block;
height: 10rem;
width: 30rem;
position: absolute;
left: 34rem;
top: 3rem;
}

h1{text-align: center;
   color: ivory;
   margin-top: 3.8rem;
   font-family: Helvetica, sans-serif;
}

.caja-inf{
    background-color:green;
    border-radius: 1rem;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    height: 50rem;
    width: 50rem;
    margin-left: 24rem;
    font-size: 1.6rem;
}

div p{
    margin-top: 23rem;
    padding: 0 4rem;
    text-align: justify;
}

*/

/*BLOCK - INLINE & INLINE BLOCK ELEMENTS
.block{
    background-color: crimson;
}

.line{
    background-color: cyan;
}
*/

/*PRIMERA PAGINA BIEN HECHA USANDO POSITION Y DISPLAY
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: seagreen;
    width: 100%;
    height: 5rem;
}

nav h1{
display: inline-block;
position: absolute;
left: 0;
margin: 1.2rem 4rem;
}

header nav h1 a{
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
    color:snow;
}

nav ul li a{
    color: snow;
    font-size: 1.6rem;
    text-decoration: none;
    list-style: none;
}

li a:hover{
    color: yellow;
}

ul{
    display: inline-block;
    position: absolute;
    right: 4rem;
}

ul li{
    margin: 1.6rem 1rem;
    display: inline-block;
}

aside{
    background-color: darkgreen;
    display: inline-block;
    width: 30%;
    height: 55rem;
}

aside > div{
    border-radius: .5rem;
    color:indigo;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    background-color:mediumaquamarine;
    padding: 4.4rem 0;
    margin: 1.3rem 0;
    position: relative;
    left: 13%;
    width: 70%;
    height: 20%;
}

main{
    background-color:lightgreen;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    width: 70%;
    height: 55rem;
    position: absolute;
}

main div{
    display: inline-block;
}

main h2{
    text-align: center;
    font-size: 6rem;
}

main div p{
    text-align: justify;
    font-size: 2rem;
}

main div:first-child{
    margin: 5rem 8rem;
}

main div:last-child{
    padding: 2rem 8rem;
}

footer{
    background-color: mediumturquoise;
    font-family: Helvetica, sans-serif;
    width: 100%;
    height: 6.3rem;
}

footer div{
    font-size: 1.8rem;
    text-align: center;
    padding: 2.1rem;
}
*/

/*DISPLAY:FLEX Y SUS CARACTERISTICAS COMO 
    FLEX:WRAP, JUSTIFY-CONTEN, FLEX-WRAP, ALIGN-ITEMS, FLEX-DIRECTION,ALIGN-SELF

.container{
    border: .3rem solid black;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: mediumorchid;
}

.box2{
    background-color:midnightblue;
    }

.box3{
    background-color:orangered;
    }

.box4{
    background-color:royalblue;
    }

.box5{
    background-color:yellowgreen;
    }

.box6{
    background-color:slategrey;
}
*/

/*MAS DISPLAY:FLEX
.container{
    border: .3rem solid black;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

.container2{
    width: 100%
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;


}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: mediumorchid;
}

.box2{
    background-color:midnightblue;
    }

.box3{
    background-color:orangered;
    }

.box4{
    background-color:royalblue;
    }

.box5{
    background-color:yellowgreen;
    }

.box6{
    background-color:slategrey;
}*/

/*DISPLAY:FLEX MAS FLEX-WRAP, JUSTIFY CONTENT,ALIGN-ITEMS,FLEX-GROW Y FLEX BASIS
main{
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 10rem;
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
 
}

.box1{
    background-color: blue;
}

.box2{
    background-color: brown;
}

.box3{
    background-color: chartreuse;
}

.box4{
    background-color: darkcyan;
}

.box5{
    background-color: darkred;
}

.box6{
    background-color:orange;
}*/

/*PRUEBAS WEB DISPLAY:FLEX MAS FLEX-WRAP, JUSTIFY CONTENT,ALIGN-ITEMS,FLEX-GROW Y FLEX BASIS
header{
    position: fixed;
    z-index: 100;
    background-color:#845ec2;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
}
nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

h1{
    font-family: Helvetica, sans-serif;
    color: blanchedalmond;
    }

ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    width: 35%;
    display: flex;
    list-style: none;
}

ul li a{
    color: #ffc75f;
    text-decoration: none;
}

li a:hover{
    color:white;
}

.landing{
    background-color: blue;
    width: 100%;
}

main{
    padding-top: 15rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main > div{
    width: 40rem;
    height: 40rem;
}

.texto1{
    font-family: Helvetica, sans-serif;
    font-size: 1.3rem;
    color: white;
    text-align: justify;
}

.texto1 h2{
    font-size: 10rem;
    text-align: center;
}

.imagenejemplo{
    border: white solid 1px;
    border-radius:1rem;
}

aside{
    margin-bottom:1.2rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10rem;
}

aside > div{
    margin: 0 1rem;
    border: white solid 1px;
    width: 2.5rem;
    height: 2.5rem;
}

.postlanding{
    background-color:turquoise;
    width: 100%;
    height: 64.8rem;
}


@media screen and (max-width:48rem){
    .landing{
        background-color:teal;
    }
    .imagenejemplo{
        margin-bottom: 10rem;
    }

}*/


/*VARIABLES :root{--nombre;} / font: var(--nombre)
header{
    background-color: var(--primary-color);
    width: 100vw;
    height: 12rem;
}

main{
    width: 100vw;
    height: 70vh;
}

h1{
    font-size: var(--font-base);
    color: var(--secundary-color);

}

footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--secundary-color);
}*/

/*WEB FONTS, DE GOOGLE Y DESCARGADAS
main{
    display: flex;

}

main > div{
    width: 30%;
    height: 5rem;
}

.unofont{
    font-family: 'Redressed', cursive;
}

.dosfont{
    font-family: 'Roboto Mono', monospace;
}*/

/*MOSTLY FLUID con @media (){}
.container{
    display: flex;
    flex-wrap: wrap;
}

.box{

    width: 100%;
    min-width: 150px;
    height: 15rem;
}

.c1{
    background-color:#f39189;
}

.c2{
    background-color: #bb8082;
}

.c3{
    background-color: #6e7582;
}

.c4{
    background-color: #046582;
}

.c5{
    background-color: #28527a;
}

.c6{
    background-color: #8ac4d0;
}

@media (min-width:600px){
    .c2, .c3 {
        width: 50%;
    }

    .c4{
        width: 100%;
    }
}

@media (min-width:800px){
    .container{
        width: 800px;
        margin: auto auto;
    }

    .c2{
        width:30.3%;
        flex-grow: 1;
        flex-basis: 1;
    }

    .c3{
        width:30.3%;
        flex-grow: 1;
        flex-basis: 1;
    }
    .c4{
        width:30.3%;
        flex-grow: 1;
        flex-basis: 1;
    }
}*/

/*LAYOUT SHIFTER con @media (){}
.container{
    display: flex;
    flex-wrap: wrap;
}

.box{

    width: 100%;
    min-width: 150px;
    height: 15rem;
}

.c1{
    background-color:#f39189;
}

.c2{
    background-color: #bb8082;
}

.c3{
    background-color: #6e7582;
}

.c4{
    height: auto;
    background-color: #046582;
}

.c5{
    background-color: #28527a;
}

.c6{
    background-color: #8ac4d0;
}

@media (min-width: 600px){
    .c1{
        width: 25%;
    }

    .c4{
        width: 75%;
    }

    .c5{
        width: 100%;
    }
}

@media (min-width: 800px){
.container{
    width: 800px;
    margin: auto auto;
}

    .c1{
        width: 50%;
        order: 1;
    }

    .c4{
        width: 100%;

    }

    .c5{
        width: 50%;
        order: 2;
    }
}*/

/*COLUMN DROP con @media (){}
.container{
    display: flex;
    flex-wrap: wrap;
}

.box{

    width: 100%;
    min-width: 150px;
    height: 15rem;
}

.c1{
    background-color:#f39189;
}

.c2{
    background-color: #bb8082;
}

.c3{
    background-color: #6e7582;
}

.c4{
    background-color: #046582;
}

.c5{
    background-color: #28527a;
}


@media (min-width:600px){
    .c1{
        width: 25%;
        order:1;
    }
    .c2{
        width: 75%;
        order:2;
    }
    .c3{
        width: 100%;
        order:3;
    }
    .c4{
        width: 100%;
        order:4;
    }
    .c5{
        width: 100%;
        order:5;
    }

}

@media (min-width:800px){
    .c1{
        width: 30%;
    
    }
    .c2{
        width: 40%;
     
    }
    .c3{
        width: 30%;
    }
    .c4{
        width: 50%;

    }
    .c5{
        width: 50%;
    }

}*/


