/*estos 3 elementos son super importantes ya que formatean
las caracteristicas del navegador*/
:root{
    
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;

}

header{
    position: fixed;
    z-index: 100;
    display: flex;
    background-color: pink;
    width: 100%;
    height: 6rem;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

h1{
    flex: 2;
    text-align: center;
}

h1 a{
    color: black;
    text-decoration: none;
}

ul{
    padding-right: 6.5rem;
    display: flex;
    justify-content:flex-end;
    flex: 5;
}

ul li{
    margin: 0 2.5rem;
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    list-style: none;
}

li a{
    color: black;
    text-decoration: none;
}

li a:hover{
    color: deeppink;
}

.landing{
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15rem ;
    width: 100%;

}

.context{
    border: black solid 1px;
    width: 40rem;
    height: 40rem;

}


.contvid{
    border: black solid 1px;
    width: 40rem;
    height: 40rem;

}

.barrinf{display: flex;
    justify-content: center;
    background-color: lightgreen;
    width: 100%;
}

.icons{
    border: black solid 1px;
    width: 20rem;
    height: 10rem;
}

article{
    background-color: blue;
    width: 100%;
    height: 60rem;
}

footer{
    background-color:crimson;
    width: 100%;
    height: 20rem;
}