/*estos 3 elementos son super importantes ya que formatean
las caracteristicas del navegador*/

:root{
    --primary-color: #3b4a6b;
    --secundary-color: tomato;
    --font-base: 2rem;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

header{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 8rem;
    background-color: var(--primary-color);
}
